.single-product__container{
    display: flex;
    justify-content: center;
}

.main-product__image{
    height: 500px;
    width: 500px;
}

.sub-img__container{
    display: flex;
    flex-direction: row;
    margin: 10px;
    position: relative;

}

.sub-images{
    margin: 5px;

}

.img{
    height: 175px;
    width: 150px;
}

.single-product__description{
    position: absolute;
    right: 0;
    margin-right: 200px;
    text-align: right;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.product-header{
    font-size: 50px;
}

.pattern-company{
    font-size: 25px;
}

.price{
    font-size: 20px;

}

.fabric-type{

}

.fabric-color{

}

.button{
    background-color: #C89F9C;
    border: none;
}
