.about-me_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.about-me_header{

}

.about-me_paragraph{
    background-color: #C89F9C;
}

.career-links{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.my-photo__container{
    margin: 0 auto;
}

h1, p{
    text-align: center;
}

p{
    font-size: 20px;
}



/* .gh, .ln, .al{
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
} */

.fab{
    height: 100px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
}


