.measurements-header{
    text-align: center;
}

.measure-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.measure{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}
.measurements-chest{}
.measurements-shoulder{}
.measurements-sleeves{}
.measurements-biceps{}
.measurements-wrist{}
.measurements-waist{}
.measurements-jacket{}
.measurements-height{}
