.top-main__div{
    color: #C97C59;
    text-align: center;
    margin-top: 0px;
    padding-top: 150px;
    height: 300px;
    background-image: url("https://images.pexels.com/photos/3965543/pexels-photo-3965543.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.top-main__header{
    font-size: 100px;
    background-color: #EEE2DF;
}

.signup-container{
    margin-top: 75px;
}

.signup{
    font-size: 25px;
    background-color: #C89F9C;
    border-radius: 35px;
}

.paragraph-container{
    text-align: center;
}

.home-paragraph__text{

}

.top-images{
    display: flex;
    justify-content: center;
}

.img-div{
    position: relative;
    padding-top: 20px;
    height: 720px;
    width: 520px;
    cursor: pointer;
}

.img_description{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(218, 138, 103, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
}


.measurement-img, .pattern-img, .fabric-img{
    margin: 0 5px;
    margin-bottom: 5px;
    height: 700px;
    width: 450px;
}

.img-div:hover .img_description{
    visibility: visible;
    opacity: 1;
}

.number{
    margin-top: 150px;
    font-size: 150px;
}
