.top-main__div{
    color: black;
    text-align: center;
    margin-top: 0px;
    padding-top: 150px;
    height: 300px;
    background-image: url("https://images.pexels.com/photos/3965543/pexels-photo-3965543.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.top-main__header{
    font-size: 100px;
    background-color: #EEE2DF;
}

.signup-container{
    margin-top: 75px;
}

.signup{
    font-size: 25px;
    background-color: #C89F9C;
    border-radius: 35px;
}

.paragraph-container{
    text-align: center;
}

.home-paragraph__text{

}
