/* structure */
.footer-container {
    display: flex;
    width: 100%;
    background-color: #C89F9C;
    color: white;
}

/* ------left------ */
.footer__left {
    width: 45%;
    margin-right: 5%;
    padding: 50px 50px 50px 100px;
}

.footer__about {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 70px;
}

.footer__copyright {
    font-size: 12px;
}

/* ------right------ */
.footer__team {
    display: flex;
    width: 45%;
    padding: 50px 50px;
}

.footer__team-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}


/* ========== Member ========== */
/* name */
.member__name {
    font-size: 14px;
    margin-bottom: 6px;
}

/* links */
.member__links {
    display: flex;
}

/* link container */
.member__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #f7e6a0;
    border-radius: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.member__link:hover {
    transition: all 0.2s ease-out;
    filter: invert(100%);
}

/* link icon */
.member__link-icon {
    color: #C97C5D;
    font-size: 18px;
}

.member__link-icon:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(255, 255, 255, 0.6) 30%, #e1ffc4 50%, rgba(255,255,255,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 0.5s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

.fab{
    margin-bottom: -70px;
}
