.tailor-container{
    display: grid;
    margin-left: 125px;
}

.tailor-pattern{
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.tailor-fabric{
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;

}

.tailored-image{
    height: 500px;
    width: 500px;
    /* margin-left: 200px; */
}

.headers{
    margin-left: 400px;
}

.price_and_buttons{
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: white;
    height: 200px;
    width: 200px;
}

.div_button{
    padding-left: 50px;
    padding-top: 5px;
}

.button{
    background-color: #C97C5D;
    border: none;
    width: 80px;
    margin: 10px auto;
}
