.all-login-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------- heading --------- */
.login-formpage_heading {
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px #999 solid;
    margin-left: 50px;
}

.login-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

/* --------- container --------- */
.login-formpage_input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}


/* --------- input --------- */
.login-form_input-label {
    margin-bottom: 5px;
    font-size: 20px;
}

.login-form_input-box {
    width: 400px;
    height: 20px;
    padding: 2px 5px;
}

/* --------- buttons --------- */
.form-submit_login {
    background-color: white;
    border-style: none;
    border: 2.4px black solid;
    padding: 4px 16px;
    margin: 20px auto;
    /* margin-right: 5px; */
    /* margin-bottom: 35px; */
    font-size: 16px;
    /* margin-left: 700px; */
    width: 100px;

}
