.all-login-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------- heading --------- */
.login-form_heading {
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px #999 solid;
    margin-left: 50px;
}

/* --------- container --------- */
.login-form_input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 550px;
}


/* --------- input --------- */
.login-form_input-label {
    margin-bottom: 5px;
    font-size: 20px;
}

.login-form_input-box {
    width: 400px;
    height: 20px;
    padding: 2px 5px;
}

/* --------- buttons --------- */
.login-form_submit {
    background-color: white;
    border-style: none;
    border: 2.4px black solid;
    padding: 4px 16px;
    margin-right: 5px;
    margin-bottom: 35px;
    font-size: 16px;
    margin-left: 700px;
    width: 100px;

}
