.search-page__container{

}

.search-page__divs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-page__img{
    width: 291px;
    height: 415px;
}

.search-price{
    font-size: 16px;
}

.fabric-details{
    /* display: flex;
    justify-content: space-between; */
}

.fabric-type{
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
}

.fabric-color{
    font-weight: bold;
    font-size: 16px;
}

.patternCompany{
font-size: 14px;
}

.patternNumber{
font-size: 16px;
font-weight: bold;
}

.product-container{
    margin: 10px;
    cursor: pointer;
}

.nav-search__submit{
    cursor: pointer;
}
