.top-signup-form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.signup-button{
    background-color: white;
    border-style: none;
    border: 2.4px black solid;
    padding: 4px 16px;
    width: 100px;
    margin: 0 auto;
    font-size: 16px;
}
