.profile-dropdown {
  position: absolute;
}

.signup{
text-decoration: none;
margin-right: 30px;
margin-left: 30px;
color: black;
}

.home{
text-decoration: none;
font-weight: 100;
font-size: 80px;
color: black;
margin-right: -1000px;
}

.nav-container{
  position: relative;
  background-color: #C89F9C;
  margin-top: 0;
}

.link-container{
  display: flex;
  justify-content: center;
}

.auth-links{
  position: absolute;
  right: 80px;
}

/* .icons{
  position: absolute;
  right: 80px;
} */

.shopping-cart__icon{
  /* padding-right: 200px; */
  margin-left: 400px;
}

.icon-holder{

}

/* .cart-icon{
  padding-left: 300px;
} */

/* .profile{
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
  color: black;
} */


ul{
  list-style: none;
}

body{
  background-color: #EEE2DF;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-container{
  position: absolute;
  left: 0;
  margin-left: 30px;
}


.profile-button{
  position: absolute;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  right: 80px;
  margin-top: 10px;

}

.profile-photo{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-top: 5px;
}

.profile-dropdown{
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 20px;
  top: 100px;
}

.profile-button__container{
  display: flex;
  padding-left: 1000px;
  /* padding-top: 15px; */
}

.shopping-cart-icon{
  justify-self: flex-end;
  padding-top: 30px;
}
