.profile-dropdown {
  position: absolute;
}

.signup{
text-decoration: none;
margin-right: 30px;
margin-left: 30px;
color: black;
}

.home{
text-decoration: none;
font-weight: 100;
font-size: 80px;
color: black;
}

.nav-container{
  position: relative;
  background-color: #C89F9C;
  margin-top: 0;
}

.link-container{
  display: flex;
  justify-content: center;
}

.auth-links{
  position: absolute;
  right: 0;
}



ul{
  list-style: none;
}

body{
  background-color: #EEE2DF;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-container{
  position: absolute;
  left: 0;
  margin-left: 30px;
}
