.clothes-links-container{
    display: flex;
    justify-content: space-evenly;

}
.clothes-links{
    justify-content: center;


}



.clothes{
    margin-left: 200px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
