.clothes-links-container{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 10px;
    /* margin-left: 0; */
    margin-bottom: 10px;
    border-bottom: black;

}
.clothes-links{
    display: flex;
    justify-content: space-evenly;


}



.clothes{
    justify-content: space-evenly;
    margin: 0 100px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
